@import "vendor/bourbon/bourbon";
@import "grid_settings";
@import "vendor/neat/neat";
@import "vendor/normalize";

$color-background: #3892E3;
$color-black: #4A4A4A;
$color-white: #FAFAFA;
$color-grey: #9B9B9B;
$color-link: #2652A1;

$size-base: 18px;

$vertical-grid: golden-ratio($size-base, 1);

/* media queries */
$larger-than-grid: new-breakpoint(min-width $max-width);
$smaller-than-grid: new-breakpoint(max-width $max-width);

/* generalities */
a:link, a:visited, a:hover, a:active {
        color: $color-link;
}
h1, h2, h3, p { 
        margin-top: 0;
        margin-bottom: $vertical-grid; 
}

h1, h2, h3 {
        font-weight: normal; 
}

body {
        background: $color-background;
        color: $color-black;
        font-size: $size-base;
        line-height: $vertical-grid;
        font-family: 'Vollkorn', Georgia, serif;
}

section, header {
        @include outer-container;
        color: $color-black;
        font-size: $size-base;
}
section { padding-top: $vertical-grid; }
.wrapper {
        background-color: $color-white;
        width: 100%;
        max-width: none;

        &.blogpost {
                margin-top: $vertical-grid;
                margin-bottom: $vertical-grid;
        }
}

/* header */
nav[role="navigation"] ul {
        @include row();
        margin: none;
        padding: none;
        font-family: Helvetica, Arial, sans-serif;
}
nav[role="navigation"] li { 
        @include span-columns(1 of 6); 
        text-align: center;

        a {
                text-decoration: none; 
                display: block;
                padding-top: 10px;
                color: #3892E3;
        }
        .logo {
                width: $column * 2 + $gutter;
        }
}

/* video box */
#video {
        p {
                @include row();
                @include span-columns(10);

                color: $color-white;
                text-align: center;
                font-size: 1.5em;
                line-height: $vertical-grid * 1.5;
        }
        .embed {
                margin-bottom: $vertical-grid;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }
}

/* story section */
#story {
        h2 {
                @include row();
                @include span-columns(10);
        }
        .story-part {
                @include row();
                .copy {
                        @include span-columns(7);
                        text-align: justify;
                }
                .statistic {
                        @include span-columns(3);
                        font-size: 1.15em;
                        color: $color-grey;
                        &.leading { text-align: right; }
                }
        }
}

/* map section */
$map-height: $vertical-grid * 14;

.map-hover {

        @include media($larger-than-grid) {
                height: $map-height; 
                margin-top: $vertical-grid;
                margin-bottom: $vertical-grid;
        }

        p {
                color: $color-white;
                @include media($larger-than-grid) {
                        @include span-columns(5);
                        padding: $vertical-grid $gutter;
                        margin-top: $vertical-grid * 5;
                        background-color: $color-background;
                }
        }
}
#map {
        @include media($smaller-than-grid) {
                display: none;
        }
        width: 100%;
        position: relative;
        top: -1 * $map-height - $vertical-grid;
        height: 0;
        overflow: visible;
        z-index: -1;

        iframe {
                width: inherit;
                height: $map-height;
                border: none;
        }
}

/* people section */
#people {
        .person {
                @include row();
        }
        .headshot {
                @include span-columns(2);
        }
        .bio {
                @include span-columns(8);
        }
        .nameplate, img {
                width: 100%;
                text-align: center;
        }
}

/* sponsors section */
#sponsors-header {
        @include row();
        color: $color-white;
        h2 {
                @include span-columns(4);
                font-size: 3em;
                margin-top: 0.25em;
        }
        p { @include span-columns(6); }
}
#sponsors {
        .row {
                @include row();
                margin-bottom: $vertical-grid;
        }
        .sponsor-5 { @include span-columns(5); }
        .sponsor-4 { @include span-columns(4); }
        .sponsor-3 { @include span-columns(3); }
        img { width: 100%; }
}

/* legal section */
#footer-wrapper { margin-top: $vertical-grid; }
#footer {
        @include outer-container;
        @include row();
}
#legal, #sitemap { @include span-columns(3); }
#colophon { @include span-columns(4); }

/* blog stuff */
nav.pagination {
        min-height: $vertical-grid;
        text-align: center;

        a { color: darken($color-white, 2%); }
        & > p { 
                color: $color-white; 
                margin-bottom: 0;
        }
}
article blockquote {
        color: lighten($color-black, 20%);
}
