---
layout: default
title: Continuum - Blog
---

{% for post in paginator.posts %}
<div class="wrapper blogpost">
    <section>
        <article>
            <header><h2><a rel="canonical" href="{{ post.url }}">{{ post.title }}</a></h2></header>
            {{ post.content }}
            <footer>
                <small>Posted at {{ post.date }}{% if post.author %} by {{ post.author }}{% endif %}</small>
            </footer>
        </article>
    </section>
</div>
{% endfor %}

<nav class="pagination">
    <p>
    {% if paginator.previous_page %}
    <a href="/blog/{% if paginator.previous_page != 1 %}{{ paginator.previous_page }}/{% endif %}" rel="previous">Previous</a>
    {% endif %}
    {% for count in (1..paginator.total_pages) %}
    {% if count == paginator.page %}
    <span class="active-page">{{ count }}</a>
    {% else %}
    <a href="/blog/{% if count != 1 %}{{ count }}/{% endif %}">{{ count }}</a>
    {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
    <a href="/blog/{{ paginator.next_page }}" rel="next">Next</a>
    {% endif %}
    </p>
</nav>
