<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>

<link rel="stylesheet" href="{{ site.url }}/css/syntax.css">
<link rel="stylesheet" href="{{ site.url }}/css/continuum.css">
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper">
    <header role="banner">
        <nav role="navigation">
            <ul>
                <li><img class="logo" src="{{ site.url }}/assets/logos/continuum.png" alt="Continuum Logo"></li>
                <li><a href="#">Home</a></li>
                <li><a href="#story">Our Story</a></li>
                <li><a href="#people">People</a></li>
                <li><a href="#sponsors-header">Sponsors</a></li>
            </ul>
        </nav>
    </header>
</div>
<main role="main">
{{ content }}
</main>
<div class="wrapper" id="footer-wrapper">
<footer id="footer">
    <section id="legal">
        <h2>Legal</h2>
        <p>Content and imagery &copy; 2013 The Continuum Group, all rights reserved.</p>
    </section>
    <section id="colophon">
        <h2>Colophon</h2>
        <p>Graciously sponsored by CodePainters, the National Day of Civic Hacking, Chronicle Coffee, T-REx, and Worldwide Technology, Inc. Vollkorn Regular, Helvetica. Continuum Site on Github Pages. Continuum App on Github.</p>
    </section>
    <section id="sitemap">
        <h2>Sitemap</h2>
        <p>Just one page right now, you're looking at it!</p>
    </section>
</footer>
</div>
</body>
</html>
